@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin : 0;
  background-color: #28223F;
  font-family: Montserrat, sans-serif;
	display: flex;
  align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;

  color: white;
  overflow: scroll;
}
header {
  padding: 1rem;
  width: 100%;
  padding-right: 5rem;
  background-color: rgba(115,68,184,1);
  position: fixed;
  top: 0rem;
  display:flex;

  > div{
    flex: 1;
  }
  > a {
    margin: 0 0.5rem 0 0.5rem; 
  }
}


a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
a:focus {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.title {
  text-align: center;
  color: burlywood;
}
.company-item {
  text-align: center;
  color: lightblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/****** profile card ******/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 3rem;
  margin-top: 10rem;
	width: 22rem;
	max-width: 100%;
	text-align: center;
}

/*
.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}
*/

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
  width: 40%;
  display: inline;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

/****** timeline style ******/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
h1{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size:3rem;
  text-align:center;
}
.timeline{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding: 3rem 0;
  width: 100rem;
  box-sizing: border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:rgba(233,33,99,1);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:rgba(233,33,99,1);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:rgba(233,33,99,1);
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-120px;
  margin:0;
  padding:8px 16px;
  background:rgba(233,33,99,1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-120px;
  margin:0;
  padding:8px 16px;
  background:rgba(233,33,99,1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .card-container {
    width: 70%;
    margin-left: -2rem;
  }
  .timeline{
    width:100%;
    padding-bottom:0;
    margin-left: 3rem;
  }
  h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size:2rem;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}
/********/


/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* Home */
a:hover {
  text-decoration: underline
}

#master {
 font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
 font-size: 60px;
 line-height: 1;
 font-weight: bold;
 letter-spacing: 0;
 -webkit-font-smoothing: inherit
}

#master {
 text-rendering: optimizeLegibility
}

#master-container {
 background-color: #F5C59C;
 -webkit-animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
 animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center;
 height: 100vmin;
 min-height: 0;
 max-height: 100%;
}

#master-container .content {
 height: auto;
 margin-left: inherit;
 margin-right: inherit
}

@media screen and (max-width: 615px) {
 #master-container {
     -webkit-animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
     animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
 }
}

@media screen and (max-width: 615px) {
 #master {
     font-size: 40px;
     font-line: 1.2
 }
}

#master-container-scroller {
 height: 66px;
 margin-bottom: -6px;
 overflow: hidden;
 position: relative
}

#master-container-scroller .master-container-scroller_item {
 display: block;
 padding-bottom: 6px;
 -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
 animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
}

#master-container-scroller .master-container-scroller_item[href]:hover {
 text-decoration: underline
}

#master-container-scroller .master-container-scroller_item:nth-child(1),
#master-container-scroller .master-container-scroller_item:nth-child(1) a {
 color: #E65F48
}

#master-container-scroller .master-container-scroller_item:nth-child(2),
#master-container-scroller .master-container-scroller_item:nth-child(2) a {
 color: #E65F48
}

#master-container-scroller .master-container-scroller_item:nth-child(3),
#master-container-scroller .master-container-scroller_item:nth-child(3) a {
 color: #76BCAD
}

#master-container-scroller .master-container-scroller_item:nth-child(4),
#master-container-scroller .master-container-scroller_item:nth-child(4) a {
 color: #84719f
}

#master-container-scroller .master-container-scroller_item:nth-child(5),
#master-container-scroller .master-container-scroller_item:nth-child(5) a {
 color: #d47787
}

#master-container-scroller .master-container-scroller_item:nth-child(6),
#master-container-scroller .master-container-scroller_item:nth-child(6) a {
 color: #F09551
}

#master-container-scroller .master-container-scroller_item:nth-child(7),
#master-container-scroller .master-container-scroller_item:nth-child(7) a {
 color: #349AB5
}

#master-container-scroller .master-container-scroller_item:nth-child(8),
#master-container-scroller .master-container-scroller_item:nth-child(8) a {
 color: #e86042
}

#master-container-scroller .master-container-scroller_item:nth-child(9),
#master-container-scroller .master-container-scroller_item:nth-child(9) a {
 color: #74bcae
}

#master-container-scroller .master-container-scroller_item:nth-child(10),
#master-container-scroller .master-container-scroller_item:nth-child(10) a {
 color: #E65F48
}

@media screen and (max-width: 615px) {
 #master-container-scroller {
     height: 48px;
     line-height: 1.2;
     margin-bottom: 0
 }
 #master-container-scroller .master-container-scroller_item {
     padding-bottom: 0;
     -webkit-animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
     animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
 }
}

#master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay {
 background-color: rgba(230, 95, 72, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay .link:hover {
     color: #E65F48
 }
}

#master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay {
 background-color: rgba(230, 95, 72, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay .link:hover {
     color: #E65F48
 }
}

#master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay {
 background-color: rgba(118, 188, 173, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay .link:hover {
     color: #76BCAD
 }
}

#master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay {
 background-color: rgba(132, 113, 159, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay .link:hover {
     color: #84719f
 }
}

#master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay {
 background-color: rgba(212, 119, 135, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay .link:hover {
     color: #d47787
 }
}

#master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay {
 background-color: rgba(240, 149, 81, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay .link:hover {
     color: #F09551
 }
}

#master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay {
 background-color: rgba(52, 154, 181, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay .link:hover {
     color: #349AB5
 }
}

#master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay {
 background-color: rgba(232, 96, 66, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay .link:hover {
     color: #e86042
 }
}

#master-container-grid .master-container-grid_item:nth-child(9) .grid_item-overlay {
 background-color: rgba(116, 188, 174, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(9) .grid_item-overlay .link:hover {
     color: #74bcae
 }
}

#master-container-grid .master-container-grid_item:nth-child(10) .grid_item-overlay {
 background-color: rgba(230, 95, 72, 0.9)
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item:nth-child(10) .grid_item-overlay .link:hover {
     color: #E65F48
 }
}

#master-container-grid .master-container-grid_item .img {
 position: relative
}

#master-container-grid .master-container-grid_item .grid_item-overlay {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center;
 font-size: 26px;
 font-weight: bold;
 color: #fff;
 opacity: 0;
 transition: opacity .3s ease-in-out;
 text-decoration: none
}

#master-container-grid .master-container-grid_item .grid_item-overlay:hover {
 opacity: 1
}

#master-container-grid .master-container-grid_item .grid_item-overlay .link {
 display: inline-block;
 box-shadow: 0 1px 0 0 #fff, inset 0 0 0 #fff;
 transition: box-shadow .2s ease
}

#master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
 box-shadow: 0 2px 0 0 #fff, inset 0 -1px 0 0 #fff
}

@media screen and (max-width: 520px) {
 #master-container-grid .master-container-grid_item {
     margin-bottom: 18px
 }
 #master-container-grid .master-container-grid_item .grid_item-overlay {
     position: relative;
     background: none !important;
     color: #3a3a3a;
     opacity: 1;
     display: block;
     margin-top: 18px;
     text-align: left
 }
 #master-container-grid .master-container-grid_item .grid_item-overlay .link {
     box-shadow: none
 }
 #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
     text-decoration: underline
 }
}

@-webkit-keyframes master-container-bg {
 0.0% {
     background-color: #F5C59C
 }
 3.7037037037037037% {
     background-color: #F5C59C
 }
 11.11111111111111% {
     background-color: #ECC9CB
 }
 14.814814814814815% {
     background-color: #ECC9CB
 }
 22.22222222222222% {
     background-color: #D9E2CB
 }
 25.925925925925927% {
     background-color: #D9E2CB
 }
 33.333333333333336% {
     background-color: #f6c599
 }
 37.03703703703704% {
     background-color: #f6c599
 }
 44.44444444444444% {
     background-color: #c4bbd3
 }
 48.148148148148145% {
     background-color: #c4bbd3
 }
 55.55555555555556% {
     background-color: #F9E7AF
 }
 59.25925925925926% {
     background-color: #F9E7AF
 }
 66.66666666666667% {
     background-color: #B4E2EE
 }
 70.37037037037037% {
     background-color: #B4E2EE
 }
 77.77777777777777% {
     background-color: #cbe5f4
 }
 81.48148148148148% {
     background-color: #cbe5f4
 }
 88.88888888888889% {
     background-color: #d2e7e2
 }
 92.5925925925926% {
     background-color: #d2e7e2
 }
 100.0% {
     background-color: #F5C59C
 }
}

@keyframes master-container-bg {
 0.0% {
     background-color: #F5C59C
 }
 3.7037037037037037% {
     background-color: #F5C59C
 }
 11.11111111111111% {
     background-color: #ECC9CB
 }
 14.814814814814815% {
     background-color: #ECC9CB
 }
 22.22222222222222% {
     background-color: #D9E2CB
 }
 25.925925925925927% {
     background-color: #D9E2CB
 }
 33.333333333333336% {
     background-color: #f6c599
 }
 37.03703703703704% {
     background-color: #f6c599
 }
 44.44444444444444% {
     background-color: #c4bbd3
 }
 48.148148148148145% {
     background-color: #c4bbd3
 }
 55.55555555555556% {
     background-color: #F9E7AF
 }
 59.25925925925926% {
     background-color: #F9E7AF
 }
 66.66666666666667% {
     background-color: #B4E2EE
 }
 70.37037037037037% {
     background-color: #B4E2EE
 }
 77.77777777777777% {
     background-color: #cbe5f4
 }
 81.48148148148148% {
     background-color: #cbe5f4
 }
 88.88888888888889% {
     background-color: #d2e7e2
 }
 92.5925925925926% {
     background-color: #d2e7e2
 }
 100.0% {
     background-color: #F5C59C
 }
}

@-webkit-keyframes master-container-bg-mobile {
 0.0% {
     background-color: #F5C59C
 }
 3.7037037037037037% {
     background-color: #F5C59C
 }
 11.11111111111111% {
     background-color: #ECC9CB
 }
 14.814814814814815% {
     background-color: #ECC9CB
 }
 22.22222222222222% {
     background-color: #D9E2CB
 }
 25.925925925925927% {
     background-color: #D9E2CB
 }
 33.333333333333336% {
     background-color: #f6c599
 }
 37.03703703703704% {
     background-color: #f6c599
 }
 44.44444444444444% {
     background-color: #c4bbd3
 }
 48.148148148148145% {
     background-color: #c4bbd3
 }
 55.55555555555556% {
     background-color: #F9E7AF
 }
 59.25925925925926% {
     background-color: #F9E7AF
 }
 66.66666666666667% {
     background-color: #B4E2EE
 }
 70.37037037037037% {
     background-color: #B4E2EE
 }
 77.77777777777777% {
     background-color: #cbe5f4
 }
 81.48148148148148% {
     background-color: #cbe5f4
 }
 88.88888888888889% {
     background-color: #d2e7e2
 }
 92.5925925925926% {
     background-color: #d2e7e2
 }
 100.0% {
     background-color: #F5C59C
 }
}

@keyframes master-container-bg-mobile {
 0.0% {
     background-color: #F5C59C
 }
 3.7037037037037037% {
     background-color: #F5C59C
 }
 11.11111111111111% {
     background-color: #ECC9CB
 }
 14.814814814814815% {
     background-color: #ECC9CB
 }
 22.22222222222222% {
     background-color: #D9E2CB
 }
 25.925925925925927% {
     background-color: #D9E2CB
 }
 33.333333333333336% {
     background-color: #f6c599
 }
 37.03703703703704% {
     background-color: #f6c599
 }
 44.44444444444444% {
     background-color: #c4bbd3
 }
 48.148148148148145% {
     background-color: #c4bbd3
 }
 55.55555555555556% {
     background-color: #F9E7AF
 }
 59.25925925925926% {
     background-color: #F9E7AF
 }
 66.66666666666667% {
     background-color: #B4E2EE
 }
 70.37037037037037% {
     background-color: #B4E2EE
 }
 77.77777777777777% {
     background-color: #cbe5f4
 }
 81.48148148148148% {
     background-color: #cbe5f4
 }
 88.88888888888889% {
     background-color: #d2e7e2
 }
 92.5925925925926% {
     background-color: #d2e7e2
 }
 100.0% {
     background-color: #F5C59C
 }
}

@-webkit-keyframes scroll {
 0.0% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 3.7037037037037037% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 11.11111111111111% {
     -webkit-transform: translateY(-66px);
     transform: translateY(-66px)
 }
 14.814814814814815% {
     -webkit-transform: translateY(-66px);
     transform: translateY(-66px)
 }
 22.22222222222222% {
     -webkit-transform: translateY(-132px);
     transform: translateY(-132px)
 }
 25.925925925925927% {
     -webkit-transform: translateY(-132px);
     transform: translateY(-132px)
 }
 33.333333333333336% {
     -webkit-transform: translateY(-198px);
     transform: translateY(-198px)
 }
 37.03703703703704% {
     -webkit-transform: translateY(-198px);
     transform: translateY(-198px)
 }
 44.44444444444444% {
     -webkit-transform: translateY(-264px);
     transform: translateY(-264px)
 }
 48.148148148148145% {
     -webkit-transform: translateY(-264px);
     transform: translateY(-264px)
 }
 55.55555555555556% {
     -webkit-transform: translateY(-330px);
     transform: translateY(-330px)
 }
 59.25925925925926% {
     -webkit-transform: translateY(-330px);
     transform: translateY(-330px)
 }
 66.66666666666667% {
     -webkit-transform: translateY(-396px);
     transform: translateY(-396px)
 }
 70.37037037037037% {
     -webkit-transform: translateY(-396px);
     transform: translateY(-396px)
 }
 77.77777777777777% {
     -webkit-transform: translateY(-462px);
     transform: translateY(-462px)
 }
 81.48148148148148% {
     -webkit-transform: translateY(-462px);
     transform: translateY(-462px)
 }
 88.88888888888889% {
     -webkit-transform: translateY(-528px);
     transform: translateY(-528px)
 }
 92.5925925925926% {
     -webkit-transform: translateY(-528px);
     transform: translateY(-528px)
 }
 100.0% {
     -webkit-transform: translateY(-594px);
     transform: translateY(-594px)
 }
}

@keyframes scroll {
 0.0% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 3.7037037037037037% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 11.11111111111111% {
     -webkit-transform: translateY(-66px);
     transform: translateY(-66px)
 }
 14.814814814814815% {
     -webkit-transform: translateY(-66px);
     transform: translateY(-66px)
 }
 22.22222222222222% {
     -webkit-transform: translateY(-132px);
     transform: translateY(-132px)
 }
 25.925925925925927% {
     -webkit-transform: translateY(-132px);
     transform: translateY(-132px)
 }
 33.333333333333336% {
     -webkit-transform: translateY(-198px);
     transform: translateY(-198px)
 }
 37.03703703703704% {
     -webkit-transform: translateY(-198px);
     transform: translateY(-198px)
 }
 44.44444444444444% {
     -webkit-transform: translateY(-264px);
     transform: translateY(-264px)
 }
 48.148148148148145% {
     -webkit-transform: translateY(-264px);
     transform: translateY(-264px)
 }
 55.55555555555556% {
     -webkit-transform: translateY(-330px);
     transform: translateY(-330px)
 }
 59.25925925925926% {
     -webkit-transform: translateY(-330px);
     transform: translateY(-330px)
 }
 66.66666666666667% {
     -webkit-transform: translateY(-396px);
     transform: translateY(-396px)
 }
 70.37037037037037% {
     -webkit-transform: translateY(-396px);
     transform: translateY(-396px)
 }
 77.77777777777777% {
     -webkit-transform: translateY(-462px);
     transform: translateY(-462px)
 }
 81.48148148148148% {
     -webkit-transform: translateY(-462px);
     transform: translateY(-462px)
 }
 88.88888888888889% {
     -webkit-transform: translateY(-528px);
     transform: translateY(-528px)
 }
 92.5925925925926% {
     -webkit-transform: translateY(-528px);
     transform: translateY(-528px)
 }
 100.0% {
     -webkit-transform: translateY(-594px);
     transform: translateY(-594px)
 }
}

@-webkit-keyframes scroll-mobile {
 0.0% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 3.7037037037037037% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 11.11111111111111% {
     -webkit-transform: translateY(-48px);
     transform: translateY(-48px)
 }
 14.814814814814815% {
     -webkit-transform: translateY(-48px);
     transform: translateY(-48px)
 }
 22.22222222222222% {
     -webkit-transform: translateY(-96px);
     transform: translateY(-96px)
 }
 25.925925925925927% {
     -webkit-transform: translateY(-96px);
     transform: translateY(-96px)
 }
 33.333333333333336% {
     -webkit-transform: translateY(-144px);
     transform: translateY(-144px)
 }
 37.03703703703704% {
     -webkit-transform: translateY(-144px);
     transform: translateY(-144px)
 }
 44.44444444444444% {
     -webkit-transform: translateY(-192px);
     transform: translateY(-192px)
 }
 48.148148148148145% {
     -webkit-transform: translateY(-192px);
     transform: translateY(-192px)
 }
 55.55555555555556% {
     -webkit-transform: translateY(-240px);
     transform: translateY(-240px)
 }
 59.25925925925926% {
     -webkit-transform: translateY(-240px);
     transform: translateY(-240px)
 }
 66.66666666666667% {
     -webkit-transform: translateY(-288px);
     transform: translateY(-288px)
 }
 70.37037037037037% {
     -webkit-transform: translateY(-288px);
     transform: translateY(-288px)
 }
 77.77777777777777% {
     -webkit-transform: translateY(-336px);
     transform: translateY(-336px)
 }
 81.48148148148148% {
     -webkit-transform: translateY(-336px);
     transform: translateY(-336px)
 }
 88.88888888888889% {
     -webkit-transform: translateY(-384px);
     transform: translateY(-384px)
 }
 92.5925925925926% {
     -webkit-transform: translateY(-384px);
     transform: translateY(-384px)
 }
 100.0% {
     -webkit-transform: translateY(-432px);
     transform: translateY(-432px)
 }
}

@keyframes scroll-mobile {
 0.0% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 3.7037037037037037% {
     -webkit-transform: translateY(0px);
     transform: translateY(0px)
 }
 11.11111111111111% {
     -webkit-transform: translateY(-48px);
     transform: translateY(-48px)
 }
 14.814814814814815% {
     -webkit-transform: translateY(-48px);
     transform: translateY(-48px)
 }
 22.22222222222222% {
     -webkit-transform: translateY(-96px);
     transform: translateY(-96px)
 }
 25.925925925925927% {
     -webkit-transform: translateY(-96px);
     transform: translateY(-96px)
 }
 33.333333333333336% {
     -webkit-transform: translateY(-144px);
     transform: translateY(-144px)
 }
 37.03703703703704% {
     -webkit-transform: translateY(-144px);
     transform: translateY(-144px)
 }
 44.44444444444444% {
     -webkit-transform: translateY(-192px);
     transform: translateY(-192px)
 }
 48.148148148148145% {
     -webkit-transform: translateY(-192px);
     transform: translateY(-192px)
 }
 55.55555555555556% {
     -webkit-transform: translateY(-240px);
     transform: translateY(-240px)
 }
 59.25925925925926% {
     -webkit-transform: translateY(-240px);
     transform: translateY(-240px)
 }
 66.66666666666667% {
     -webkit-transform: translateY(-288px);
     transform: translateY(-288px)
 }
 70.37037037037037% {
     -webkit-transform: translateY(-288px);
     transform: translateY(-288px)
 }
 77.77777777777777% {
     -webkit-transform: translateY(-336px);
     transform: translateY(-336px)
 }
 81.48148148148148% {
     -webkit-transform: translateY(-336px);
     transform: translateY(-336px)
 }
 88.88888888888889% {
     -webkit-transform: translateY(-384px);
     transform: translateY(-384px)
 }
 92.5925925925926% {
     -webkit-transform: translateY(-384px);
     transform: translateY(-384px)
 }
 100.0% {
     -webkit-transform: translateY(-432px);
     transform: translateY(-432px)
 }
}