@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin : 0;
  background: #303030;
  color: white;
}
nav {
  list-style-type: none;
  padding: 1rem;
  width: 100%;
  padding-right: 5rem;
  display: flex;
  background-color: rgba(115,68,184,0.2);
  justify-content: flex-end;
}
a {
  margin: 0 0.5rem 0 0.5rem; 
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
a:focus {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.title {
  text-align: center;
  color: burlywood;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
